/* Datepicker vue-bootstrap */

.b-form-datepicker {
  button {
    padding: .065rem .5rem;
  }
  label.form-control {
    padding: .7rem .3rem .6rem;
  }
}

.b-calendar-grid {
  .b-calendar-grid-caption {
    margin: .5rem 0;
  }
  .b-calendar-grid-weekdays {
    height: 1.5rem;
    small {
      padding: .5rem;
    }
  }
}