/* Forms components */

.input-group-append,
.input-group-prepend {
  background: color(white);
  color: $input-placeholder-color;
  width: auto;
  border: none;
  .input-group-text {
    padding-top: .36rem;
    background: transparent;
    border-color: $border-color;
    font-size: .9rem;
    min-width: 1.7rem !important;
  }
}

.form-control {
  border: 1px solid $border-color;
  font-family: $type1-regular;
  font-size: $input-font-size;
  padding: $input-padding-y $input-padding-x;
  line-height: $input-line-height;
  font-weight: $input-font-weight;
  &.is-valid {
    border-color: $border-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23b2b2b2' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  }

  &.fake-input {
    @include display-flex;
    align-items: center;
    padding-top: .38rem;
  }

  &.fake-textarea {
    @include display-flex;
    align-items: flex-start;
    padding-top: .38rem;
    padding-bottom: .38rem;
    line-height: normal;
    height: auto;
    min-height: 80px;
  }
    // &.form-control-lg {
  //   padding: $input-btn-padding-y-lg .75rem;
  // }
  // &.form-control-sm {
  //   padding: $input-btn-padding-y-sm .75rem;
  // }
}

textarea {
  &.form-control {
    line-height: normal;
    padding: .5rem;
    &.is-valid {
      border-color: $border-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23b2b2b2' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }
  }
}

select {
  &.custom-select {
    height: calc(1.5em + 0.9rem);
    padding: $input-padding-y 1rem $input-padding-y $input-padding-x;
    font-family: $type1-regular;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    border-radius: 2px;
    &.is-valid {
      border-color: $border-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23b2b2b2' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }
  }
}

.form-group {
  label {
    font-size: .8rem; // $default-font-size;
    line-height: 1;
    vertical-align: top;
    &.col-form-label {
      @include display-flex;
      align-items: center;
    }
  }
  //Workaround para mostrar msg usando form-group e input-group
  div > .invalid-feedback {
      display: block;
  }
  
  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }
  // .file-upload-default {
  //   visibility: hidden;
  //   position: absolute;
  // }
  // .file-upload-info {
  //   background: transparent;
  // }

  
  .b-form-file {
    height: 2.19rem;
    .custom-file-input {
      & ~ .custom-file-label {
        height: 2.19rem;
        border-radius: 2px;
        margin-bottom: 0 !important;
        
        &::after {
          height: 2.07rem;
          padding-top: .5rem;
          padding-bottom: .4rem;
        }

        .form-file-text {
          margin-top: .35rem;
        }

      }

      &.is-valid ~ .custom-file-label {
        border-color: $border-color;
      }
    }
  }
}